.mobile-background {
    background-image: url('../../../public/image/mobile.jpeg');
  }

.web-background {
    background-image: url('../../../public/image/WhatsApp\ Image\ 2023-05-28\ at\ 7.01.41\ PM.jpeg');
  }

.background {
    background-image: url('../../../public/image/background.jpeg');
  }